{% extends 'base.html.twig' %}

{% block body %}
    <br><br>
    <h1>User Details</h1>
    <br>
    <table class="table table-bordered table-striped text-center">
        <tbody>
            <tr><td> First Name: </td><td>{{ data.firstName }}</td></tr>
            <tr><td> Last Name: </td><td>{{ data.lastName }}</td></tr>
            <tr><td> Email: </td><td> {{ data.email }} </td></tr>
        </tbody>
    </table>
    <br>
    <br>
    <h3>Jobs Related To Your Skills</h3>
    <br>
    <table class="table table-bordered table-striped text-center">
        <thead>
            <tr>
                <th> Company </th>
                <th> Job description </th>
            </tr>
        </thead>
        <tbody>
            {% if data.jobs is defined and data.jobs| length > 0 %}
                {% for job in data.jobs %}
                    <tr><td> {{ job.cname }} </td><td> {{ job.cdescription }} </td></tr>
                {% endfor %}
            {% else %}
                <tr><td colspan="2" > You are not eligible for any jobs </td></tr>
            {% endif %}
        </tbody>
    </table>
    {% endblock %}
